<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Login</title>
    <!-- Materialize CSS CDN -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/leaf.ico' %}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

    <div class="row">
        <div class="col s12 m8 l4 offset-m2 offset-l4">
            <div class="card">

                <div class="card-action teal lighten-1 white-text">
                    <!-- <h3 class="center-align">Login to Susie</h3> -->
                    <center><img class="responsive-img" src="{% static 'images/SusieHeading.png' %}" /></center>
                </div>

                <div class="card-content">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}

                        <div class="form-field">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" required>
                        </div><br>

                        <div class="form-field">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" required>
                        </div><br>

                        <div class="form-field">
                            <p>
                            <label>
                                <input type="checkbox" />
                                <span>Remember Me</span>
                            </label>
                            </p>
                        </div><br>
                         <p>{{ message }}</p>
                        <div class="form-field">
                            <input class="btn-large waves-effect waves-dark" type="submit" value="Login" style="width:100%;">
                        </div><br>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Materialize jQuery and JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Initialize Waves Effect -->

</body>
</html>
